
.dataDiv-style{
    
    width: 98%;
}
#data-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: auto;
    row-gap: 10px;
}
.image-height{
    height: 50%;
}




        /* ---------------------------------------------------
            STYLES FOR MODAL 
   
            ---------------------------------------------------*/
.modal-dialog{
    display: flex;
    justify-content: center;
   }         
.modal-body{
    width: 1000px;
}
.modal-content{
    width: 1000px;

}
#outer-most-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    
}
#product-details{
    display: flex;
    flex-direction: column;
    background-color:#edddddad ;
    border: 1px solid rgb(226, 106, 106);
    padding: 15px;
    border-radius: 5px;
}

#product-pricing{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 10px;
}
.pricing{
    width: 25%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}

#features-and-integrations{
    display: flex;
    flex-direction: row;
}

#product-sample{
    display: flex;
    flex-direction: column;
}

#product-image{
    margin-left: 10px;
}








@media screen and (max-width:576px) {
   
    #data-container{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: auto;
        row-gap: 10px;
    }

    .modal-body{
        width: 100%;
    }
    #outer-most-container{
        display: flex;
        flex-direction: column;
    }
    #product-details{
        padding: 5px;
        width: 98%;
       
    }
    #product-image{
        margin-top: 10px;
        margin-left: 0px;
    }

    
}